@charset "utf-8";

/*页面加载对话框样式*/
#loadingTab {
	position: absolute;
	left: 38%;
	top: 40%;
	padding: 2px;
	z-index: 20001;
	height: auto;
	border: 1px solid #CCCCFF;
	width: 300px;
}

#loadingTab a {
	color: #225588;
	text-decoration: none;
}

#loadingTab a:hover {
	color: #999900;
	text-decoration: underline;
}

#loadingTab .loading-indicator {
	background: white;
	color: #444;
	font: bold 15px tahoma, arial, helvetica;
	padding: 10px;
	margin: 5;
	height: auto;
}

#loading-yfo a {
	font: "宋体";
	font-size: 12px;
	color: #999999;
	text-decoration: none;
}

#loading-yfo a:hover {
	color: #000000;
	text-decoration: none;
}

#loading-msg {
	font: "宋体", normal;
	font-size: 12px;
	padding-top: 5px;
}