*{
	margin:0;
	padding:0;
	font-size:12px;
}

a {
	text-decoration: none;
}
body{
	width:100%;
	height:100%;
	background-color: #eeeeee;
}
#head{
	width:100%;
	height:66px;
	background:url(../images/menu/head_bg.gif) repeat-x left top;
	overflow:hidden;
}
#top_box{
	width:100%;
	height:66px;
	background:url(../images/menu/top_box_bg.jpg) no-repeat left top;
	overflow:hidden;
}
#max_box{
	width:100%;
	height:66px;
	background:url(../images/menu/top_box_bg.jpg) no-repeat left top;
	overflow:hidden;
}
#main_box{
	width:100%;
	height:100%;
	overflow:hidden;
}
.center{
	width:460px;
	height:302px;
	position: absolute;
	left: 50%;
	top: 53%;
	margin-left: -230px;
	margin-top: -151px;
	background: url(../images/login/login_bg.gif) no-repeat;
}
#form_head{
	font-size: 24px;
	color: #3e3e3e;
	font-style: '黑体';
	margin-left: 85px;
	font-weight: bold;
}
#form_body{
	font-size: 12px;
	color: #666666;
	font-style: '黑体'
}
.left_container{
	width:120px;
	text-align: right;
	float: left;
}
.username_div{
	margin-top: 30px;
}
.password_div{
	margin-top:34px !important;
	margin-top: 36px;
}
.right_container{
	width:333px;
	float: right;
}

.right_container div{
	margin-top: 23px;
}
.input{
	width: 243px;
	height:26px;
	border: 1px solid #bfbfbf;
}
.message{
	color: red;
	font-size: 15px;
	font-weight: bold;
	height: 30px;
	width: 100%;
	text-align: center;
}
.button{
	height:29px;
	width: 74px;
	background: url("../images/login/button.gif") no-repeat;
	color: white;
	border: none;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
	padding-top:0px !important;
	padding-top:8px;
}
.button_over{
	height:29px;
	width: 74px;
	background: url("../images/login/button_over.gif") no-repeat;
	color: white;
	border: none;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
	padding-top:0px !important;
	padding-top:8px;
}
.buttom_image{
	height:359px;
	width: 202px;
	background: url("../images/login/login_bg2.gif") no-repeat;
	position: absolute;
	right: 0px;
	bottom: 0px;
}
.buttom_image_containner{
	width: 100%;
	text-align: right;	
}