<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body style="padding: 20px;">
<table width="100%" id="list">
    <tr>
        <td colspan="7" style="text-align: right"><a href="/teach/template_list">模板列表</a></td>
    </tr>
{% if t %}
    <tr>
        <td colspan="7">模板：{{ t.name }}&nbsp;&nbsp;&nbsp;&nbsp;<a href="/teach/add_subject?tid={{ t.id }}">添加题目</a></td>
    </tr>
{% endif %}
    <tr>
        <td width="50px">序号</td>
        <td width="50px">ID</td>
        <td width="300px">模板</td>
        <td >题目名称</td>
        <td width="100px">作者</td>
        <td width="200px">审核</td>
        <td width="300px">操作</td>
    </tr>
    {% for s in tlist %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ s.id }}</td>
            <td>{{ s.template.name }}</td>
            <td>{{ s.name }}</td>
            <td>{{ s.user.get_full_name }}</td>
            <td>{% if s.is_right %}通过：（{{ s.checker.get_full_name }}）{% else %}{% ifequal s.is_right None %}未审核{% else %}不通过：（{{ s.checker.get_full_name }}{% endifequal %}{% endif %}</td>
            <td><a href="/teach/add_subject?tid={{ t.id }}&id={{ s.id }}">修改</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/teach/look_view?sid={{ s.id }}">预览</a>
                {% if request.user.is_staff %}
                    {% ifequal s.is_right None %}
                        &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/teach/check_subject?sid={{ s.id }}&do=1">通过</a>
                    &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/teach/check_subject?sid={{ s.id }}&do=0">不通过</a>
                    {% else %}
                        {% if s.is_right %}
                            &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/teach/check_subject?sid={{ s.id }}&do=0">不通过</a>
                        {% else %}
                            &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/teach/check_subject?sid={{ s.id }}&do=1">通过</a>
                        {% endif %}
                    {% endifequal %}

                {% endif %}</td>
        </tr>
    {% endfor %}
</table>
<script type = "text/javascript">
                var table = document.getElementById("list");//根据table的 id 属性值获得对象
                var rows = table.getElementsByTagName("tr");//获取table类型的tr元素的列表
                for(var i = 0; i < rows.length; i++){
                    if(i % 2 == 1){
                        rows[i].style.backgroundColor = "#E5E5E5";//偶数行时背景色为#EAF2D3
                    }
                    else{
                        rows[i].style.backgroundColor = "White";//单数行时背景色为white
                    }
                }
        </script>
</body>
</html>